@media screen and (max-width: 1680px) {
   :root{--paddingWraper: 0 2em;}
}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1400px) {

}
@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 1280px) {
   :root{--paddingWraper: 0 1.5em;}
   body{
      font-size: 95%;
   }

   .header__nav{
      margin-left: 1em;
   }
   .header__nav-link{
      margin: 0 1em;
   }

   .about__wrapper{
      min-height: 600px;
   }

   .gallery__wrapper{
      height: 1200px;
   }

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1100px) {
   .about{
      grid-template-columns: 5fr 6fr 0.5fr;
   }

   .gallery__wrapper{
      height: 1100px;
   }
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 980px) {
   :root{--paddingWraper: 0 1em;}

   .header__nav{
      font-size: 1.4em;
      margin-left: 0.5em;
   }
   .header__nav-link{
      margin: 0 0.5em;
   }
   .header__address{
      font-size: 1.4em;
   }

   .header__home{
      margin: 0 auto;
      height: calc(100vh - 6em);
   }
   .header__cover{
      width: 50%;
      height: 80%;
   }
   .header__info{
      width: 50%;
      height: 80%;
      display: flex;
   }

   /* .header__home::before{
      content: "";
      background-color: #392f29;
      width: 120%;
      height: 2em;
      position: absolute;
      top: -20%;
      left: -10%;
   }
   .header__home::after{
      content: "";
      background-color: #392f29;
      width: 120%;
      height: 2em;
      position: absolute;
      top: 113%;
      left: -10%;
   } */
   .header__title {
      font-size: 6em;
      margin-top: 0em;
   }
   .about__wrapper {
      min-height: 500px;
   }
   .about{
      grid-template-columns: 5fr 6fr 0.5fr;
      margin: 1em auto;
   }
   .about__title {
      line-height: 2;
   }
   .about__decor::after{
      width: 340px;
   }

   .menu{
      grid-template-columns: auto 10fr auto;
      height: 600px;
   }
   .menu__button-left::before{
      width: 310px;
      left: -5%;
   }
   .menu__card{ /**На все слайдеры*/
      grid-template-columns: 1fr 1fr;
      margin: var(--paddingWraper);
   }
   .menu__card-cover{
      height: 600px;
   }








   .gallery__wrapper{
      height: 900px;
   }


}

@media screen and (max-width: 800px) {

   .header__nav{
      font-size: 1.3em;
      margin-left: 0.3em;
   }
   .header__nav-link{
      margin: 0 0.3em;
   }
   .header__address{
      font-size: 1.3em;
   }

   .about{
      grid-template-columns: 5fr 5fr 0.2fr;
   }
   .about__title {
      line-height: 2;
   }
  .about__decor::after{
   width: 240px;
   }
   .gallery__wrapper{
      height: 800px;
   }
}

@media screen and (max-width: 700px) {

   .m-menu__open{
      display: block;
      width: 43px;
      height: 43px;
      transform: rotateY(180deg);
      cursor: pointer;
   }
   .m-menu__open-svg{

   }


   .header__bar{
      height: 5em;
   }
   .header__nav{
      display: none;
   }
   .header__address{
      font-size: 1.3em;
   }



   .about{
      display: block;
   }
   .about__info {
      margin: 1em;
   }
   .about__cover{
      /* display: none; */
   }
   .about__decor {
      display: none;
   }







   





   /**меню **/

   /** Кнопки выбора категории меню **/
   .menu-cat__link{
      font-size: 1.5em;
   }
   .drink-link{
      max-width: 180px;
   }
   .bake-link{
      max-width: 150px;
   }
   .dessert-link{
      max-width: 150px;
   }

   .menu__button-left::before{
      display: none;
   }
   .menu__card{
      display: block;
   }
   .menu__card-cover{
      display: none;
   }
   .menu__price{
      width: 100%;
      left: 0%;
   }
   .menu__price-item {
      max-width: 400px;
      height: 100%;
      min-height: 2.86em;
      margin: 0 auto;
   }
   .menu__price-item p:last-child{
      white-space: nowrap;
   }
   .menu__price-title {
      max-width: 400px;
      line-height: 6;
      margin: 0 auto;
   }
      
   .gallery__wrapper{
      height: 900px;
      grid-template: 
      " a1 a1 a5 a5  " 1fr
      " a1 a1 a5 a5  " 1fr
      " a1 a1 a3 a3  " 1fr
      " a4 a4 a3 a3  " 1fr
      " a4 a4 a3 a3  " 1fr
      " a2 a2 a2 a2  " 1fr
      " a2 a2 a2 a2  " 1fr
      " a2 a2 a2 a2  " 1fr
      " a2 a2 a2 a2  " 1fr
      / 1fr 1fr 1fr 1fr ;
      gap: 0.5em;
   }

}

@media screen and (max-width: 560px) {

   .header__home {
      display: flex;
      flex-direction: column;
   }
   .header__cover{
      height: 100%;
      width: 100%;
      margin-right: auto;
   }
   .header__info{
      height: 100%;
      text-align: center;
      width: 100%;
   }
   .header__title-desktop{/**Загаловок  COFFEE которое должно исчезнуть в моб версии сайта**/
      display: none;
   }
   .header__title-mob{/**Загаловок  COFFEE которое должно появится в моб версии сайта**/
      display: block;
   }
   .header__button{
      margin: 0 auto 2em;
      font-size: 1.5em;
   }

/** Кнопки выбора категории меню **/
.menu-cat{
	width: 100%;
	max-width: 1300px;
	margin: 2em auto;
	padding: var(--paddingWraper);
}
.menu-cat__title{
	font-size: 36px;
	color: #f2f2f2;
	line-height: 3;
 }
 .menu-cat__link{
   display: block;
	width: 100%;
   max-width: none;
	font-size: 1.5em;
	color: #f2f2f2;
	line-height: 2;
	transition: 0.3s;
   text-align: left;
 }
 .menu-cat__link:hover{
	color: #cb7c51;
 }
 .drink-link{

 }
 .bake-link{
   padding-left: 33%;
 }
 .dessert-link{

   padding-left: 66%;
 }

}


@media screen and (max-width: 500px) {
   .gallery__wrapper{
      grid-template:
      " a2 a2 a2 a2  " 1fr
      " a2 a2 a2 a2  " 1fr
      " a2 a2 a2 a2  " 1fr
      " a2 a2 a2 a2  " 1fr
      " a1 a1 a5 a5  " 1fr
      " a1 a1 a5 a5  " 1fr
      " a1 a1 a3 a3  " 1fr
      " a4 a4 a3 a3  " 1fr
      " a4 a4 a3 a3  " 1fr
      / 1fr 1fr 1fr 1fr ;
   }
   .footer__info{
      width: 100%;
      max-width: 1300px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      column-gap: 1em;
      flex-wrap: wrap;
      margin: 0 auto;
   }
   .footer__icon {
      width: 20em;
  }


  .window__form{
   width: 100%;
	max-width: 360px;
	grid-template: "close""date""time""person""name""tel""email""coment""submit";
}

}

@media screen and (max-width: 420px) {

   .menu__button{
      width: 32px;
      height: 32px;
      border: 1px solid #ffffff;
      display: flex;
      z-index: 1;
   }
   .menu__button img{
      width: 40%;
      margin: auto;
   }
   .menu__button-left{
      display: flex;
      align-items: center;
      position: relative;
   }
   .menu__button-left::before{
      content: "";
      background-color: #392f29;
      width: 440px;
      height: 110%;
      position: absolute;
      top: -5%;
      left: 0%;
   }
   .menu__button-right{
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }
   

}





@media screen and (max-width: 370px) {
   .header__title{
      font-size: 4em;
   }
   .header__button{
      font-size: 1.1em;
   }
   .footer__info{
      width: 100%;
      max-width: 1300px;
      display: block;
      justify-content: space-evenly;
      align-items: center;
      column-gap: 1em;
      flex-wrap: wrap;
      margin: 0 auto;
      text-align: center;
   }
   .footer__icon {
      width: auto;

  }
}

@media screen and (max-width: 260px) {
   .gallery__wrapper{
      display: block;
      height: auto;

   }
}





@media screen and (max-height: 660px) {
   .header__text {
      font-size: 1.2em;
      margin: 0.5em 0;
   }
   .header__button{
      margin: 0 auto 0.5em;
      font-size: 1em;
   }
}




















@media screen and (max-height: 660px) {
   .m-menu{
      background-color: #392f29;
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 3;
      padding: 1em;
      text-align: center;
      font-size: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 0.1em;
   }
}




@media screen and (min-width: 560px) {
   
   @media screen and (max-height: 660px) {
      .header__cover {
         width: 60%;
         height: 95%;
      }
     .header__info {
        width: 40%;
        height: 95%;
      }
         
      .header__title {
         margin-top: 0em;
         font-size: 4.5em;
      }
      .header__text {
         font-size: 1.2em;
         margin: 1em 0;
      }
       .header__button {
         max-width: 220px;
      }
   }


   @media screen and (max-height: 430px) {
      .header__home {
         height: calc(100vh - 4em);
      }
      .header__cover {
         width: 40%;
         height: 95%;
      }
      .header__info {
        width: 50%;
        height: 95%;
      }
      .header__bar{
         height: 4em;
      }
      .header__title {
         font-size: 4em;
      }
      .header__text {
         margin: 0.5em 0;
      }

      .about__wrapper {
         min-height: 350px;
      }
      .about{
         grid-template-columns: 6fr 5fr 0.1fr;
      }
      .about__cover{
         width: 100%;
         height: 340px;
      }

      .menu__price-item {
         height: 2.2em;
      }
      .menu__price-title {
         line-height: 2;
      }

      .gallery__wrapper {
         height: 600px;
      }
      
      .window__form{

         grid-template: 
         "date name"
         "time tel"
         "person email"
         "coment coment"
         "submit close"
         /1fr 1fr;
      }
      
   }

   @media screen and (max-height: 370px) {
      .header__cover {
         width: 40%;
      }
      .header__info {
        width: 60%;
      }
      .header__title {
         font-size: 3.5em;
      }
      .header__button{
         padding: 0.3em;
      }
      .about__wrapper {
         min-height: 340px;
      }
      .about__cover{
         height: 320px;
      }
      .window__form{
         width: 100%;
         max-width: 360px;
         grid-template: "close""date""time""person""name""tel""email""coment""submit";
      }
   }
   @media screen and (max-height: 300px) {
      .header__title {
         font-size: 3em;
      }
      .header__text {
         font-size: 1.1em;
         line-height: 1.2;
         margin: 0.3em 0;
      }
   }
}